* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.drawing {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.one {
  background-color: #5b7fa0;
}

.one .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.one .container .head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid black;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.one .container .head::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-box-shadow: inset -8px 1px 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset -8px 1px 0 1px rgba(0, 0, 0, 0.2);
}

.one .container .head::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  margin-top: 90px;
  border: 6px solid black;
}

.one .container .head .eye {
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one .container .head .eye.left {
  margin-left: -54px;
}

.one .container .head .eye.left::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: inset -6px 1px 0 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset -6px 1px 0 1px rgba(255, 255, 255, 0.2);
}

.one .container .head .eye.left::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
}

.one .container .head .eye.right {
  margin-left: 54px;
}

.one .container .head .eye.right::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: inset -6px 1px 0 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset -6px 1px 0 1px rgba(255, 255, 255, 0.2);
}

.one .container .head .eye.right::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid white;
}

.one .container .head .eye .cutout {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -14px;
}

.one .container .head .mouth {
  width: 60px;
  height: 60px;
  position: absolute;
  border: 6px solid black;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-clip-path: circle(50% at 49% 100%);
          clip-path: circle(50% at 49% 100%);
}

.one .container .head .mouth::before, .one .container .head .mouth::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 6px solid black;
  top: 32px;
  left: -4px;
  -webkit-clip-path: circle(56% at 0 0);
          clip-path: circle(56% at 0 0);
}

.one .container .head .mouth::after {
  left: 28px;
  -webkit-clip-path: circle(56% at 100% 0);
          clip-path: circle(56% at 100% 0);
}

.one .container .body {
  position: absolute;
  height: 30px;
  width: 60px;
  background-color: #c47b3f;
  border: 6px solid black;
  border-radius: 100% 100% 100% 100% / 100% 100% 0% 0%;
  top: 110px;
}

.one .container .body::before, .one .container .body::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 10px;
  top: 10px;
}

.one .container .body::before {
  border-right: 6px solid black;
}

.one .container .body::after {
  border-left: 6px solid black;
  right: 0;
}

.one .container .bg {
  width: 40px;
  height: 20px;
  position: absolute;
  left: -36px;
  border-radius: 8px;
  top: 20px;
  -webkit-box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-animation: bgAnim 3s infinite alternate;
          animation: bgAnim 3s infinite alternate;
}

@-webkit-keyframes bgAnim {
  from {
    -webkit-box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
            box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
  }
  to {
    -webkit-box-shadow: 150px 20px 0 0 rgba(0, 0, 0, 0.14), -20px 60px 0 0 rgba(0, 0, 0, 0.14), 90px 80px 0 0 rgba(0, 0, 0, 0.14);
            box-shadow: 150px 20px 0 0 rgba(0, 0, 0, 0.14), -20px 60px 0 0 rgba(0, 0, 0, 0.14), 90px 80px 0 0 rgba(0, 0, 0, 0.14);
  }
}

@keyframes bgAnim {
  from {
    -webkit-box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
            box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
  }
  to {
    -webkit-box-shadow: 150px 20px 0 0 rgba(0, 0, 0, 0.14), -20px 60px 0 0 rgba(0, 0, 0, 0.14), 90px 80px 0 0 rgba(0, 0, 0, 0.14);
            box-shadow: 150px 20px 0 0 rgba(0, 0, 0, 0.14), -20px 60px 0 0 rgba(0, 0, 0, 0.14), 90px 80px 0 0 rgba(0, 0, 0, 0.14);
  }
}

.two {
  background-color: red;
}

.three {
  background-color: green;
}

.four {
  background-color: purple;
}

.five {
  background-color: yellow;
}

.six {
  background-color: orange;
}

.seven {
  background-color: gray;
}

.eight {
  background-color: pink;
}
/*# sourceMappingURL=main.css.map */