* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.drawing {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.one {
  background-color: #5b7fa0;
}

.one .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.one .container .head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid black;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.one .container .head::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-box-shadow: inset -8px 1px 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset -8px 1px 0 1px rgba(0, 0, 0, 0.2);
}

.one .container .head::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  margin-top: 90px;
  border: 6px solid black;
}

.one .container .head .eye {
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one .container .head .eye.left {
  margin-left: -54px;
}

.one .container .head .eye.left::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: inset -6px 1px 0 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset -6px 1px 0 1px rgba(255, 255, 255, 0.2);
}

.one .container .head .eye.left::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
}

.one .container .head .eye.right {
  margin-left: 54px;
}

.one .container .head .eye.right::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: inset -6px 1px 0 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset -6px 1px 0 1px rgba(255, 255, 255, 0.2);
}

.one .container .head .eye.right::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid white;
}

.one .container .head .eye .cutout {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -14px;
}

.one .container .head .mouth {
  width: 60px;
  height: 60px;
  position: absolute;
  border: 6px solid black;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-clip-path: circle(50% at 49% 100%);
          clip-path: circle(50% at 49% 100%);
}

.one .container .head .mouth::before, .one .container .head .mouth::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 6px solid black;
  top: 32px;
  left: -4px;
  -webkit-clip-path: circle(56% at 0 0);
          clip-path: circle(56% at 0 0);
}

.one .container .head .mouth::after {
  left: 28px;
  -webkit-clip-path: circle(56% at 100% 0);
          clip-path: circle(56% at 100% 0);
}

.one .container .body {
  position: absolute;
  height: 30px;
  width: 60px;
  background-color: #c47b3f;
  border: 6px solid black;
  border-radius: 100% 100% 100% 100% / 100% 100% 0% 0%;
  top: 110px;
}

.one .container .body::before, .one .container .body::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 10px;
  top: 10px;
}

.one .container .body::before {
  border-right: 6px solid black;
}

.one .container .body::after {
  border-left: 6px solid black;
  right: 0;
}

.one .container .bg {
  width: 40px;
  height: 20px;
  position: absolute;
  left: -36px;
  border-radius: 8px;
  top: 20px;
  -webkit-box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-animation: bgAnim 3s infinite alternate;
          animation: bgAnim 3s infinite alternate;
}

@-webkit-keyframes bgAnim {
  from {
    -webkit-box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
            box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
  }
  to {
    -webkit-box-shadow: 150px 20px 0 0 rgba(0, 0, 0, 0.14), -20px 60px 0 0 rgba(0, 0, 0, 0.14), 90px 80px 0 0 rgba(0, 0, 0, 0.14);
            box-shadow: 150px 20px 0 0 rgba(0, 0, 0, 0.14), -20px 60px 0 0 rgba(0, 0, 0, 0.14), 90px 80px 0 0 rgba(0, 0, 0, 0.14);
  }
}

@keyframes bgAnim {
  from {
    -webkit-box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
            box-shadow: 120px 20px 0 0 rgba(0, 0, 0, 0.15), 10px 60px 0 0 rgba(0, 0, 0, 0.15), 140px 80px 0 0 rgba(0, 0, 0, 0.15);
  }
  to {
    -webkit-box-shadow: 150px 20px 0 0 rgba(0, 0, 0, 0.14), -20px 60px 0 0 rgba(0, 0, 0, 0.14), 90px 80px 0 0 rgba(0, 0, 0, 0.14);
            box-shadow: 150px 20px 0 0 rgba(0, 0, 0, 0.14), -20px 60px 0 0 rgba(0, 0, 0, 0.14), 90px 80px 0 0 rgba(0, 0, 0, 0.14);
  }
}

.two {
  background-color: #ca423e;
}

.two .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.two .container .body {
  height: 40px;
  width: 114px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.two .container .body::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  left: 20px;
  bottom: 0;
}

.two .container .rain {
  height: 10px;
  width: 4px;
  background-color: #65cae9;
  position: absolute;
  border-radius: 2px;
  left: 20px;
  top: 44px;
  opacity: 1;
  -webkit-box-shadow: 30px 40px 0 0 #65cae9, 50px 20px 0 0 #65cae9, 70px 0 0 0 #65cae9;
          box-shadow: 30px 40px 0 0 #65cae9, 50px 20px 0 0 #65cae9, 70px 0 0 0 #65cae9;
  -webkit-animation: rainAnim 3s infinite;
          animation: rainAnim 3s infinite;
}

@-webkit-keyframes rainAnim {
  0% {
    top: 44px;
    opacity: 1;
  }
  98% {
    top: 100px;
    opacity: 0;
  }
  99% {
    top: 44px;
    opacity: 0;
  }
  100% {
    top: 44px;
    opacity: 1;
  }
}

@keyframes rainAnim {
  0% {
    top: 44px;
    opacity: 1;
  }
  98% {
    top: 100px;
    opacity: 0;
  }
  99% {
    top: 44px;
    opacity: 0;
  }
  100% {
    top: 44px;
    opacity: 1;
  }
}

.three {
  background-color: #87b387;
}

.three .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.three .container .main {
  position: relative;
  top: -20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #719646;
  background-color: #9be24a;
  z-index: 2;
}

.three .container .main::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -2px;
  width: 56px;
  height: 100px;
  background-color: #9be24a;
  border-left: 2px solid #719646;
  border-right: 2px solid #719646;
}

.three .container .main::after {
  content: "";
  position: absolute;
  top: 128px;
  left: -48px;
  width: 160px;
  border-top: 4px solid #719646;
}

.three .container .left-arm {
  left: -30px;
  z-index: 3;
}

.three .container .right-arm {
  right: -30px;
  top: 26px;
  z-index: 1;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.three .container .left-arm,
.three .container .right-arm {
  position: absolute;
  width: 28px;
  height: 56px;
  border-radius: 14px;
  border: 2px solid #719646;
  background-color: #9be24a;
}

.three .container .left-arm::before,
.three .container .right-arm::before {
  content: "";
  position: absolute;
  top: 26px;
  left: -2px;
  width: 48px;
  height: 24px;
  border-radius: 14px;
  border: 2px solid #719646;
  border-right: none;
  background-color: #9be24a;
}

.three .container .left-arm::after,
.three .container .right-arm::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -0.1px;
  width: 24.1px;
  height: 20px;
  background-color: #9be24a;
}

.three .container .spikes {
  position: absolute;
  top: -5px;
  height: 6px;
  width: 3px;
  border-radius: 2px;
  background-color: #719646;
  z-index: 4;
  -webkit-box-shadow: 14px 20px 0 0 #719646, 0 40px 0 0 #719646, 14px 60px 0 0 #719646, 0 80px 0 0 #719646, 14px 100px 0 0 #719646, -14px 20px 0 0 #719646, -14px 60px 0 0 #719646, -14px 100px 0 0 #719646, -28px 44px 0 0 #719646, -48px 40px 0 0 #719646, -44px 60px 0 0 #719646, -44px 22px 0 0 #719646, -46px -1px 0 0 #719646, 48px 50px 0 0 #719646, 46px 26px 0 0 #719646, 40px 70px 0 0 #719646, 40px 86px 0 0 #719646, 0 -21px 0 0 #719646;
          box-shadow: 14px 20px 0 0 #719646, 0 40px 0 0 #719646, 14px 60px 0 0 #719646, 0 80px 0 0 #719646, 14px 100px 0 0 #719646, -14px 20px 0 0 #719646, -14px 60px 0 0 #719646, -14px 100px 0 0 #719646, -28px 44px 0 0 #719646, -48px 40px 0 0 #719646, -44px 60px 0 0 #719646, -44px 22px 0 0 #719646, -46px -1px 0 0 #719646, 48px 50px 0 0 #719646, 46px 26px 0 0 #719646, 40px 70px 0 0 #719646, 40px 86px 0 0 #719646, 0 -21px 0 0 #719646;
}

.three .container .spikes::before {
  content: "";
  position: absolute;
  top: 104px;
  left: -33px;
  height: 3px;
  width: 6px;
  border-radius: 3px;
  background-color: #719646;
  -webkit-box-shadow: 0 -20px 0 0 #719646, 0 -40px 0 0 #719646, 0 -92px 0 0 #719646, -30px -60px 0 0 #719646, -30px -80px 0 0 #719646, 64px -80px 0 0 #719646, 64px -60px 0 0 #719646, 64px -40px 0 0 #719646, 64px 0px 0 0 #719646, 94px -54px 0 0 #719646, 94px -34px 0 0 #719646;
          box-shadow: 0 -20px 0 0 #719646, 0 -40px 0 0 #719646, 0 -92px 0 0 #719646, -30px -60px 0 0 #719646, -30px -80px 0 0 #719646, 64px -80px 0 0 #719646, 64px -60px 0 0 #719646, 64px -40px 0 0 #719646, 64px 0px 0 0 #719646, 94px -54px 0 0 #719646, 94px -34px 0 0 #719646;
}

.three .container .spikes::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -24px;
  height: 3px;
  width: 6px;
  border-radius: 3px;
  background-color: #719646;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-box-shadow: -14px 32px 0 0 #719646, 70px -14px 0 0 #719646, 122px 8px 0 0 #719646;
          box-shadow: -14px 32px 0 0 #719646, 70px -14px 0 0 #719646, 122px 8px 0 0 #719646;
}

.three .container .sun {
  position: absolute;
  top: -100px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #f6fd93;
}

.four {
  background-color: #88e7f3;
}

.four .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.four .container .ice-cream {
  position: relative;
  width: 100px;
  height: 150px;
  background-color: #fc8cd7;
  border-radius: 50px 50px 16px 16px;
}

.four .container .ice-cream::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 4px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 4px 0 0 rgba(255, 255, 255, 0.2);
}

.four .container .ice-cream .eye {
  position: absolute;
  top: 96px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d65bad;
}

.four .container .ice-cream .eye::before {
  position: absolute;
  left: 3px;
  top: 2px;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.four .container .ice-cream .eye::after {
  position: absolute;
  top: 1px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.four .container .ice-cream .eye.left {
  left: 20px;
}

.four .container .ice-cream .eye.right {
  right: 20px;
}

.four .container .ice-cream .mouth {
  position: absolute;
  bottom: 26px;
  left: 36px;
  height: 12px;
  width: 30px;
  background-color: #d65bad;
  border-radius: 2px 2px 10px 10px;
}

.four .container .ice-cream .mouth::before {
  position: absolute;
  top: 1px;
  content: "";
  height: 12px;
  width: 30px;
  border-radius: 2px 2px 10px 10px;
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.five {
  background-color: yellow;
}

.six {
  background-color: orange;
}

.seven {
  background-color: gray;
}

.eight {
  background-color: pink;
}
/*# sourceMappingURL=main.css.map */